{
	http_port 8880
	https_port 443
}

https://127.0.0.1:443 { # Configure IP of your local machine here
	reverse_proxy 127.0.0.1:3000
	tls marten.gartner@ovgu.de { # Configure your email here
		ca https://127.0.0.1:9443/acme/acme/directory # 2x acme is correct
	}
}
